body {
    margin: 0;
}

:root{
    --color-50: #f8fafc;
    --color-100: #f1f5f9;
    --color-200: #e2e8f0;
    --color-300: #cbd5e1;
    --color-400: #94a3b8;
    --color-500: #64748b;
    --color-600: #475569;
    --color-700: #334155;
    --color-800: #1e293b;
    --color-900: #0f172a;
    --xxlarge: 3.0rem;
    --xlarge: 2.5rem;
    --large: 1.75rem;
    --medium: 1.25rem;
    --small: 1rem;
    --xsmall: 0.75rem;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.grid-container {
    background-color: var(--color-300);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto 5fr;
    grid-template-rows: minmax(auto, 1fr) 6fr;
    grid-gap: 8px 0;
    grid-template-areas:
    "side-panel header"
    "side-panel content";
}

.header {
    background-color: var(--color-100);
    grid-area: header;
    display: grid;
    gap: 8px;
    padding: 8px 32px;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "search-bar-profile"
    "welcome-buttons";
}

.header-flex {
    display: flex;
    align-items: center;
}

.header-top-row {
    grid-area: search-bar-profile;
    justify-content: space-between;
}

.header-bottom-row {
    grid-area: welcome-buttons;
    justify-content: space-around;
}

.header-search {
    gap: 8px;
    width: min(400px, 50%);
}

.header-search-input {
    background-color: var(--color-300);
    border-width: 0;
    border-radius: 16px;
    padding: 4px 8px;
    width: 90%;
}

.header-profile {
    gap: 24px;
    align-self: flex-end;
    padding-right: 16px;
}

.header-welcome {
    display: flex;
    gap: 16px;
}

.header-welcome-profile-picture {
    margin-left: auto;
}

.header-welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: text;
    gap: 4px;
}

.header-buttons {
    grid-area: buttons;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-left: auto;
}

.header-buttons button {
    background-color: var(--color-700);
    border-width: 0;
    width: 88px;
    height: 32px;
    border-radius: 64px;
    color: white;
}

.side-panel {
    background-color: var(--color-700);
    grid-area: side-panel;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr;
    padding-right: min(64px, 5vw);
    padding-left: min(24px, 5vw);
}

.content {
    background-color: var(--color-300);
    grid-area: content;
    display: grid;
    padding: 16px;
    grid-column-gap: 48px;
    grid-row-gap: 32px;
    grid-template-columns: 3.5fr 350px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "projects announcements"
    "projects trending";
}

.content-projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    gap: 16px;
}

.content-projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-template-rows: repeat(auto-fit, minmax(min-content, 200px));
    gap: min(24px, 2vw);
}

.content-projects-item-container {
    border-radius: 8px;
    padding: 16px;
    max-height: 250px;
    border-left: 8px solid var(--color-700);
    background-color: var(--color-100);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-projects-description {
    overflow: hidden;
}

.content-projects-item-images {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: auto;
}

.content-projects-item-images img:hover {
    cursor: pointer;
}

.content-announcements {
    grid-area: announcements;
}

.content-trending {
    grid-area: trending;
}

.content-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.content-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 8px;
    flex: 0 0 auto;
}

.content-announcements, .content-trending {
    gap: 8px;
}

.content-trending-container, .content-announcements-container {
    background-color: var(--color-100);
    margin-bottom: auto;
    flex-grow: 1;
    justify-content: flex-start;
    border-radius: 16px;
    padding: 12px 24px;
}

.border-bottom {
    border-bottom: 1px solid var(--color-300);
}

.content-announcements-container > .content-flex {
    padding: 16px 0;
}

.side-logo {
    color: var(--color-300);
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.side-links>li>a, .side-settings>li>a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    padding: 8px 0;
}

.side-settings {
    margin-top: auto;
}

.side-links, .side-settings {
    padding-left: 0;
}

img[src$="-md.svg"]{
    width: var(--medium);
    height: var(--medium);
}

img[src$="-lrg.svg"]{
    width: var(--xlarge);
    height: var(--xlarge);
    border-radius: 50%;
}

img[src$="-xlrg.svg"]{
    width: var(--xxlarge);
    height: var(--xxlarge);
    border-radius: 50%;
}

button {
    cursor: pointer;
}

.shadow {
    box-shadow: 2px 2px 4px var(--color-400);
}

.text-large {
    font-size: var(--large);
    font-weight: 700;
}

.text-medium {
    font-size: var(--medium);
    font-weight: 500;
}

.text-small {
    font-size: var(--small);
}

.text-xsmall {
    font-size: var(--xsmall);
    font-weight: 300;
}

.text-bold {
    font-weight: 500;
}

li {
    list-style: none;
}

li > a {
    color: var(--color-300);
}

a {
    text-decoration: none;
    color: black
}

li > a:visited {
    color: var(--color-300);
}

a:visited {
    color: black;
}

a:hover {
    transform: scale(1.05);
}