body {
    margin: 0;
}

:root{
    --color-50: #f8fafc;
    --color-100: #f1f5f9;
    --color-200: #e2e8f0;
    --color-300: #cbd5e1;
    --color-400: #94a3b8;
    --color-500: #64748b;
    --color-600: #475569;
    --color-700: #334155;
    --color-800: #1e293b;
    --color-900: #0f172a;
    --xxlarge: 3.5rem;
    --xlarge: 2.5rem;
    --large: 2rem;
    --medium: 1.25rem;
    --small: 1rem;
    --xsmall: 0.75rem;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.grid-container {
    background-color: var(--color-400);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto 5fr;
    grid-template-rows: minmax(auto, 1.5fr) 6fr;
    grid-gap: 8px 0;
    grid-template-areas:
    "side-panel header"
    "side-panel content";
}

.header {
    background-color: var(--color-100);
    grid-area: header;
    display: grid;
    gap: 8px;
    padding: 4px;
    grid-template-columns: 2fr 1.25fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "search-bar profile"
    "welcome buttons";
}

.header-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search {
    grid-area: search-bar;
}

.header-search form {
    gap: 16px;
    width: 100%;
    padding: 8px 8px;
}

.header-search-input {
    width: 85%;
    background-color: var(--color-300);
    border-width: 0;
    border-radius: 16px;
    padding: 4px 8px;
}

.header-profile {
    grid-area: profile;
    gap: 24px;
    padding: 0 12px;
    margin-left: auto;
}

.header-welcome {
    grid-area: welcome;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    "picture text"
}

.header-welcome-profile-picture {
    grid-area: picture;
    margin-left: auto;
    padding: 8px;
}

.header-welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: text;
    padding: 8px;
    gap: 4px;
}

.header-buttons {
    grid-area: buttons;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding: 16px;
    flex-wrap: wrap;
}

.header-buttons button {
    background-color: var(--color-700);
    border-width: 0;
    width: 88px;
    height: 32px;
    border-radius: 64px;
    color: white;
}

.side-panel {
    background-color: var(--color-700);
    grid-area: side-panel;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr;
    padding-right: min(64px, 5vw);
    padding-left: min(24px, 5vw);
}

.content {
    background-color: var(--color-400);
    grid-area: content;
}

.side-logo {
    color: var(--color-300);
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.side-links>li>a, .side-settings>li>a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    padding: 8px 0;
}

.side-links>li:hover, .side-settings>li:hover {
    transform: scale(1.05);
}

.side-settings {
    margin-top: auto;
}

.side-links, .side-settings {
    padding-left: 0;
}

img[src$="-md.svg"]{
    width: var(--medium);
    height: var(--medium);
}

img[src$="-lrg.svg"]{
    width: var(--xlarge);
    height: var(--xlarge);
}

img[src="images/user-lrg.svg"]{
    width: var(--xlarge);
    height: var(--xlarge);
    border-radius: 50%;
}

img[src="images/user-xlrg.svg"]{
    width: var(--xxlarge);
    height: var(--xxlarge);
    border-radius: 50%;
}

.shadow {
    box-shadow: 0 0 10px var(--color-900);
}

.text-large {
    font-size: var(--large);
    font-weight: 900;
}

.text-medium {
    font-size: var(--medium);
    font-weight: 700;
}

.text-small {
    font-size: var(--small);
}

.text-xsmall {
    font-size: var(--xsmall);
    font-weight: lighter;
}

.text-bold {
    font-weight: 900;
}

li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: var(--color-300);
}